
:root{
    --social-link-color : black;

}

.dark-mode {
    background-color: black;
    color: white;
}


.footer {
    padding: 30px 0;
    position: sticky;
    width: 100%;
    height: auto;
    box-sizing: border-box;

}

.footer a {
    color: var(--social-link-color);
    font-size: 60px;
    padding: 10px;
    transition: all .5s ease;
}

.footer a:hover {
    color:var(--social-link-color);
}

.form-same-line {
    display: inline-block;
    padding: 5px;
}

